header{
    margin-left:250px;
    margin-right: 250px;
    
}
header img{
    width:100%;
    
}

.nav ul li
{
    list-style: none;
    float: left;
    color: white;
    width: 33%;
    background: #7E6F15;
}

.nav ul li a
{
    color:white;
}



section article h3{
    text-align: center;
}
h4{
    margin:10px 0 0 0;
    padding:0px;
    text-align: center;
}
h3,h1{
    margin: 0px;
    padding: 0px;
}




section article p{
    text-align: center;
    padding-left: 350px;
    padding-right: 350px;
}

section article h1{
    text-align: center;
    font-size: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.paragraph{
    margin-left: 350px;
    margin-right: 350px;
}

.content{
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 25px;
    background-color:#CBBD70; 
}

.vertical{
    height:180px;
    border: 1px solid black;
    width: 0;
    margin-right: 20px;
    
}

.secondary{
    background-color: black;
    color: white;
}

.footer{
    margin-left: 350px;
    margin-right: 350px;
    display: flex;
}

.footer img{
    height:33px;
    margin-top: 15px;
}